* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: "Myriad Pro";
    font-size: 15 px;
    line-height: 2.84;
    color: white;
}

.html {
    scroll-behavior: auto;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

/* Шапка */
.header {
    width: 100%;
    height: 175px;
    background-color: #18181d;
}

 /* Контейнер */
.container {
    width: 100%;
    max-width: 1820px;
    margin: 0 auto;
}

/* Навигация */
.nav {
    font-size: 25px;
    display: inline-block;
    vertical-align: top;
    margin: 0 51px;
    margin-left: 477px;
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 35px;
    position: relative;

    color: white;
    text-decoration: none;

    transition: color .2 linear;
}

/* Подчеркивание */
.nav_link:after {
    content: "";
    display: block;
    width: 120%;
    height: 4px;
    opacity: 0;

    background-color: #e57025;
    border-radius: 1.5px;
    position: absolute;
    top: 85%;
    left: -6px;
    z-index: 1;

    transition: opacity 0.5s linear;
}

.nav_link:hover:after {
    opacity: 1;
}

.nav_link:after {
    border-color: white;
    box-shadow: 0px, 0px,45px, white;
}

/* геолокация */
.gel {
    width: 70px;
}

.text_geolocation {
    font-size: 22px;
    font-family: 'Microsoft JhengHei';
    font-weight: lighter;
}

.geolocaton {
    display: flex;
    align-items: center;

}

.nomer {
    display: flex;
    align-items: center;
    margin-top: -12px;
    margin-left: 10px;
}

/* номер */
.nom {
    width: 60px;
}

.text_nomer {
    font-size: 22px;
    font-family: 'Microsoft JhengHei';
    font-weight: lighter;
}

.info_geolocation_nomer {
    display: flex;
    flex-direction: column-reverse;
}

/* кнопка записи */
.knopka_zapis {
    display: inline-block;
    vertical-align: top;
    padding: 1px 59px;

    border: 3px solid #fff;

    color: #fff;
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
    border-radius: 50px;

    transition: background .1s
    linear, color .1s linear;
}

.knopka_zapis:hover {
    background-color: #fff;
    color: #333;
}

.header_iner {
    display: flex;
    align-items: center;
    margin-top: 0px;
}

.ert {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.zagolovok {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 30px;
    color: white;
    font-family: 'Microsoft JhengHei';
    text-transform: uppercase;
    font-weight: lighter;

    margin-top: -24px;
}

/* контент */
.content { /* Основная информация */
    width: 100%;
    height: 106vh;
    background-color: #cecdcf;
}

.we {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.master_danil {
    margin-right: -95px;
    margin-top: 0px;
    width: 110px;
    height: 942px;
}

.osnov_text {
    font-size: 29px;
    line-height: 1.2;
    color: rgb(0, 0, 0);
    font-family: 'Microsoft JhengHei';
    margin-top: 13px;
    font-weight: lighter;
}

.nazad {
    display: inline-block;
    vertical-align: top;
    padding: 1px 41px;

    border: 3px solid #fff;

    color: #fff;
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
    border-radius: 50px;

    transition: background .1s
    linear, color .1s linear;

    margin-top: 82px;
    font-family: 'Microsoft JhengHei';
    font-weight: lighter;
}

.nazad:hover {
    background-color: #fff;
    color: #333;
}


.naz {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.zag_123 {
    font-size: 29px;
    color: rgb(0, 0, 0);
    font-family: 'Microsoft JhengHei';
    font-weight: lighter;
    text-transform: uppercase;
    margin-top: -21px;
}

.elem_spiska {
    font-size: 29px;
    color: rgb(0, 0, 0);
    font-family: 'Microsoft JhengHei';
    line-height: 1.2;
    font-weight: 200;
}

.spisok {
    margin-top: 25px;
    margin-left: 36px;

}

/* Банер 5 */
.baner_5{
    width: 1920px;
    height: 900px;
}

.fon_baner_left_5 {
    width: 1920px;
    height: 1202px;
    background-color: #18181d;
    margin-top: -375px;
    margin-left: 0px;
}

.fon_prav_5 {
    width: 991px;
    height: 791px;
    margin-left: 931px;
    margin-top: 374px;
}

/* Заголовок */
#center_text_baner_5{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 41px;
    color: white;
    font-family: 'Microsoft JhengHei';
    text-transform: uppercase;
    font-weight: lighter;
    margin-top: -842px;
}

/* Фото с мастером и фото работы */
.lef_kont {
    display: flex;
    align-items: center;
}

.foto_master_baner_5 {
    font-size: 24px;
    color: #9c9b9f;
    font-family: 'Microsoft JhengHei';
    transition: color 0.2s linear;
}

.foto_master_baner_5:hover {
    color: #e57025;
}

.knfopka_foto_master_baner_5 {
    text-decoration: none;
}

.foto_rabot_baner_5 {
    font-size: 28px;
    color: #9c9b9f;
    font-family: 'Microsoft JhengHei';
    margin-left: 66px;
    transition: color 0.2s linear;
}

.foto_rabot_baner_5:hover {
    color: #e57025;
}

.knfopka_foto_rabot_baner_5 {
    text-decoration: none;
}

/* Границы */
.border {
    display: inline-block;
    vertical-align: top;
    padding: 1px 63px;
    border: 3px solid #e57025;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    font-weight: 700;
    width: 576px;
    height: 226px;
    margin-top: 81px;
}

.content_border  {
    font-size: 24px;
    line-height: 1.2;
    color: #9c9b9f;
    font-family: 'Microsoft JhengHei';
    margin-top: 13px;
}

.content_border_name {
    font-size: 28px;
    line-height: 1.2;
    color: #e57025;
    font-family: 'Microsoft JhengHei';
    margin-top: 56px;
}

.blok_knopka_otz {
    display: flex;
    flex-direction: column;
    margin-left: -3px;
}


/* footer */
.fon_footer {
    width: 1920px;
    height: 350px;

    background-color: #050505;

    margin-top:  -37px;
}

/*  геолокация */
.gel {
    width: 70px;
}

.text_geolocation {
    font-size: 22px;
    font-family: 'Microsoft JhengHei';
    font-weight: lighter;
}

.geolocaton {
    display: flex;
    align-items: center;

}

.nomer {
    display: flex;
    align-items: center;
    margin-top: -12px;
    margin-left: 10px;
}

/* номер */
.nom {
    width: 60px;
}

.text_nomer {
    font-size: 22px;
    font-family: 'Microsoft JhengHei';
    font-weight: lighter;
}

.info_geolocation_nomer {
    display: flex;
    flex-direction: column-reverse;
}

/* соц сети */
.vk_telegram_2 {
    display: flex;
    justify-content: flex-start;
    margin-left: 18px;
    margin-top: 36px;
}


.vk_2 {
    width: 70px;
    margin-right: -22px;
}

.telegram_2 {
    width: 70px;
    height: 70px;
}

.lev_element {
    margin-top: 47px;
}

.prav_text_1 {
    font-size: 20px;
    color: #9c9b9f;
    font-family: 'Microsoft JhengHei';
    font-weight: lighter;
    margin-left: 413px;
}

.knopka_prav_text_3 {
    text-decoration: none;
}


.prav_text_2 {
    font-size: 20px;
    color: #e57025  ;
    font-family: 'Microsoft JhengHei';
    font-weight: lighter;

    margin-left: 356px;
}

.knopka_prav_text_2 {
    text-decoration: none;
}

.prav_niz {
    display: flex;
}

.element {
    display: flex;
    justify-content: space-between;
}

.prav_element {
    margin-top: 47px;
    margin-left: -28px;

}

.prav_niz {
    margin: 10px;
}

.prav_text_3 {
    font-size: 20px;
    color: #e57025  ;
    font-family: 'Microsoft JhengHei';
    font-weight: lighter;

    margin-left: 406px;
}

.img_niz {
    width: 126px;
    margin-left: 910px;
}




