@import url="{% static '/img/digital-digital-art-artwork-illustration-minimalism-hd-wallpaper-preview.jpg' %}";

body {
    background-color: aquamarine;
}

.fon_1 {
    position: absolute;
    width: 100%;
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;

    background: url('background6.jpg')no-repeat;
    background-position: center;
    background-size: cover;
}
.form-box{
    position: relative;
    width: 537px;
    height: 623px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;

}
h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
    margin-top: -227px;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

#signin {
	height: 90px;
	width: 300px;
	border-radius: 8px;
	position: relative;
}

#signin input:first-of-type{
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}
#signin input:last-of-type{
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}
#signin  input[type="text"], #signin  input[type="password"], #signin button[type="submit"]{
	background: rgb(28, 30, 33);
	box-shadow: inset -100px -100px 0 rgb(28, 30, 33); /*Prevent yellow autofill color*/
	color: rgb(255, 255, 255);
	margin-left: 22px;
}
#signin  input[type="text"], #signin  input[type="password"]{
	position: relative;
    display: block;
    width: 280px;
    height: 45px;
    border: 0;
    outline: 0;
    top: -2px;
    padding: 0 0 0 20px;
    font-weight: 700;
    border-radius: 30px;
	margin-top: 20px;
}
#signin  input[type="text"]:focus, #signin  input[type="password"]:focus{
	color: rgb(255, 255, 255);
}

#signin p {
	color: rgb(79, 85, 97);
	padding: 0 20px;
	font-weight: 700;
	font-size: 12px;
	margin: 5px 0 0 0;
}
#signin p > a{
	color: rgb(255, 255, 255);
	text-decoration: none;
}
#signin p > a:hover{
	border-bottom: 1px solid;
}

.sub {
	margin-top: 20px;
    width: 301px;
    height: 42px;
    border-radius: 16px;
	border: none;
	margin-left: 25px;
}

.text_sub {
    font-size: 14px;
    margin-top: 11px;
}

.sub:hover .text_sub {
	margin-top: 15px;
}

.sub:hover {
	opacity: 0.8;
}






