{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'sitetatto/css/painter_detail.css' %}">
    <title>{{ painter.name }}</title>
</head>
<body>
    <div class="baner_Danil">
        <div class="header">
            <div class="container">
                <div class="ert">
                    <div class="header_iner">
                        <img src="{% static 'img/Logo.png' %}" alt="" class="logo"> <!--Логотип-->
                        <div class="info_geolocation_nomer">
                            <div class="nomer">
                                <img src="{% static 'img/nomer.png' %}" alt="" class="nom">
                                <p class="text_nomer">+ 7 (963) 863 50 50 </p>
                            </div>

                            <div class="geolocaton">
                                <img src="{% static 'img/geolocation.png' %}" alt="" class="gel">
                                <p class="text_geolocation">Курган, ул Коли Мяготина, 56 А</p>
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'record' %}" class="knopka_zapis">Записаться</a>
                </div>
                <h4 class="zagolovok">{{ painter.name }}</h4>
            </div>
        </div>
        <div class="content"> <!--Контент-->
            <div class="container">
                <div class="we">
                    <div class="naz">
                        <p class="osnov_text">{{painter.description}}</p>
                        <a href="{% url 'painter_list' %}" class="nazad"> << Назад</a>
                    </div>
                    <img src="{{ painter.avatar.url }}" alt="" class="master_danil">
                </div>
            </div>
        </div>
    </div>
</body>
</html>

