{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'sitetatto/css/comment.css' %}">
    <title>Отзывы</title>
</head>
<body>
    <div class="baner_Danil">
    <div class="header">
                  <div class="container">
                    <div class="ert">
                        <div class="header_iner">
                            <img src="{% static 'img/Logo.png' %}" alt="" class="logo"> <!--Логотип-->

                            <div class="info_geolocation_nomer">
                                <div class="nomer">
                                    <img src="{% static 'img/nomer.png' %}" alt="" class="nom">
                                    <p class="text_nomer">+ 7 (963) 863 50 50 </p>
                                </div>
                                <div class="geolocaton">
                                    <img src="{% static 'img/geolocation.png' %}" alt="" class="gel">
                                    <p class="text_geolocation">Курган, ул Коли Мяготина, 56 А</p>
                                </div>
                            </div>
                        </div>
                        <nav class="nav"> <!--Навигация-->
                            <a class="nav_link" href="{% url 'home' %}">Главная</a>
                            <a class="nav_link" href="{% url 'painter_list' %}">Мастера</a>
                            <a class="nav_link"href="{% url 'user' %}">Выход</a>
                        </nav>
                        <a href="{% url 'record' %}" class="knopka_zapis">Записаться</a>
                    </div>
        </div>
    </div>
</div>
    <div class="center_content_comment_block">
        <div class="verx_block">
            <div class="prav_block">
                    <p class="prav_mod"><b>Правила модерации комментариев</b></p>
                    <ul class="justify">
                        <p>- Используйте свое имя или псевдоним, чтобы оставлять комментарии. Комментарии от пользователей с названием веб-дизайн компания могут быть помечены как спам и удалены.</p>
                        <p>- Любой комментарий, содержащий оскорбительную, грубую или ненормативную лексику, будет удален.</p>
                        <p>- Мы приветствуем конструктивную критику, но запрещаем оскорбительную и неаргументированную критику.</p>
                        <p>- Не размещайте комментарии, которые не имеют отношения к теме сайта или являются спамом - они будут удалены.</p>
                        <p>- Не прикрепляйте рекламные ссылки, ссылки на ваши сайты или другие проекты - они будут удалены.</p>
                    </ul>
            </div>
            <form action="" method="post"  class="form_comment">
                    {% csrf_token %}
                    {{ comment_form }}
                    <input type="submit" value="Добавить комментарий" class="but">
                </form>
        </div>
        <div class="comm_block">
            {%for com in comments%}
                <div class="comm_okno">
                    <div class="user">
                        <img class="img_user" src="/static/img/user_1.png">
                        <p  class="tetx_user"><b>{{com.name}}</b> <span class="span_text_user">пишет:</span></p>
                    </div>
                    <p  class="text_comm_block">{{com.text}}</p>
                    <p  class="create_date" >{{com.create_date}}</p>
                    <hr class="line_comment">
                </div>
            {%endfor%}
            <div class="page_box">
                {% if page_obj.has_previous %}
                    <a class="a_pag" href="{% url 'comment:comments' page_obj.previous_page_number %}"><p class="page">❮</p></a>
                    <a class="a_pag" href="{% url 'comment:comments' page_obj.previous_page_number %}"><p class="page">{{ page_obj.previous_page_number }}</p></a>
                {% endif %}
                <div class="page_style">
                    <p class="page active">{{ page_obj.number }}</p>
                </div>
                {% if page_obj.has_next %}
                    <a class="a_pag" href="{% url 'comment:comments' page_obj.next_page_number %}"><p class="page">{{ page_obj.next_page_number }}</p></a>
                    <p>...</p>
                    <a class="a_pag" href="{% url 'comment:comments' page_obj.next_page_number %}"><p class="page"></p></a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="footer">
            <div class="fon_footer">
            <div class="container">
                <div class="element">
                    <div class="lev_element">
                        <div class="info_geolocation_nomer">
                            <div class="nomer">
                                <img src="{% static 'sitetatto/img/nomer.png' %}" alt="" class="nom">
                                <p class="text_nomer">+ 7 (963) 863 50 50 </p>
                            </div>
                            <div class="geolocaton">
                                <img src="{% static 'sitetatto/img/geolocaton.png' %}" alt="" class="gel">
                                <p class="text_geolocation">Курган, ул Коли Мяготина, 56 А</p>
                            </div>
                        </div>
                        <div class="vk_telegram_2">
                            <a href="https://vk.com/dionis_art"><img src="{% static 'sitetatto/img/vk.png' %}" alt="" class="vk_2"></a>
                            <a href="https://telegram.org/"><img src="{% static 'sitetatto/img/telegram.png' %}" alt="" class="telegram_2"></a>
                        </div>
                    </div>
                    <div class="prav_element">
                        <p class="prav_text_1">
                            © Все права защищены, “Тату-студия Диониса Пахомова”2022
                        </p>
                        <div class="prav_niz">
                            <a href="" class="knopka_prav_text_3">
                                <p class="prav_text_3">
                                    Запись онлайн
                                </p>
                            </a>
                            <a href="" class="knopka_prav_text_2">
                                <p class="prav_text_2">
                                    Цена онлайн
                                </p>
                            </a>
                        </div>
                        <img src="{% static 'sitetatto/img/vom_plus.png' %}" alt="" class="img_niz">
                    </div>
                </div>
            </div>
        </div>
        </div>
</body>
</html>