{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'sitetatto/css/comment.css' %}">
    <title>Отзывы</title>
</head>
<body>
    <div class="baner_Danil">
    <div class="header">
                  <div class="container">
                    <div class="ert">
                        <div class="header_iner">
                            <img src="{% static 'img/Logo.png' %}" alt="" class="logo"> <!--Логотип-->

                            <div class="info_geolocation_nomer">
                                <div class="nomer">
                                    <img src="{% static 'img/nomer.png' %}" alt="" class="nom">
                                    <p class="text_nomer">+ 7 (963) 863 50 50 </p>
                                </div>
                                <div class="geolocaton">
                                    <img src="{% static 'img/geolocation.png' %}" alt="" class="gel">
                                    <p class="text_geolocation">Курган, ул Коли Мяготина, 56 А</p>
                                </div>
                            </div>
                        </div>
                        <nav class="nav"> <!--Навигация-->
                            <a class="nav_link" href="">Главная</a>
                            <a class="nav_link" href="{% url 'mastera' %}">Мастера</a>
                            <a class="nav_link"href="{% url 'user' %}">Выход</a>
                        </nav>
                        <a href="{% url 'record' %}" class="knopka_zapis">Записаться</a>
                    </div>
        </div>
    </div>
</div>


<form action="" method="post"  style="display: flex; flex-direction: column; font-size: 16px; font-family: Century Gothic;">
    {% csrf_token %}
    {{ comment_form }}
    <input type="submit" value="Добавить комментарий" style="margin-top: 20px;">
</form>

</div>

    <div style="width: 55%;
                padding: 30px;
                box-shadow: 1px 1px 20px 1px #9391902b;
                border-radius: 3px;">
    {%for com in comments%}
    <div style="padding: 20px;">
        <div style="display: flex; align-items: center;">
            <img style="width: 30px;
                        padding: 2px;
                        margin-right: 5px;
                        border-radius: 50%;
                        background-color: #f1f1f1;" src="/static/img/user.png">

            <p style="font-size: 16px; color: #b33434;"><b>{{com.name}}</b> <span style="color: rgba(66, 59, 59, 0.411); font-size: 14px;">пишет:</span></p>
        </div>
        <p style="color: rgba(66, 59, 59, 0.411); font-size: 14px;">{{com.create_date}}</p>
        <p style="margin-top: 10px;">{{com.text}}</p>
        <hr style="opacity: 0.4; margin-top: 15px;">
    </div>
    {%endfor%}
        <div class="page_box">
            {% if page_comments.has_previous %}
                <a  class="a_pag" href="{% url 'comments' page_comments.previous_page_number %}"><p class="page">❮</p></a>
                <a  class="a_pag" href="{% url 'comments' page_comments.previous_page_number %}"><p class="page">{{ page_comments.previous_page_number}}</p></a>
            {% endif %}

            <div class="page_style">
                <p class="page active">{{ page_comments.number }}</p>
            </div>

            {% if page_comments.has_next %}
                <a class="a_pag" href="{% url 'comments' page_comments.next_page_number %}"><p class="page">{{page_comments.next_page_number}}</p></a>
                <p>...</p>
                <a class="a_pag" href="{% url 'comments' page_comments.next_page_number %}"><p class="page">❯</p></a>
            {% endif %}
        </div>
    </div>

<!--    <div id="baner_5">-->
<!--        <div class="fon_baner_left_5">-->
<!--            <img src="{% static 'sitetatto/img/imf_gal.jpg' %}" alt="" class="fon_prav_5">-->
<!--            <div class="container">-->
<!--                <p id="center_text_baner_5">-->
<!--                    Отзывы-->
<!--                </p>-->
<!--                <div class="left_content_glav">-->
<!--                    <div class="lef_kont">-->
<!--                        <a href="" class="knfopka_foto_master_baner_5">-->
<!--                            <p class="foto_master_baner_5">-->
<!--                                Фото с мастером-->
<!--                            </p>-->
<!--                        </a>-->
<!--                        <a href="" class="knfopka_foto_rabot_baner_5">-->
<!--                            <p class="foto_rabot_baner_5">-->
<!--                                Фото работы-->
<!--                            </p>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                        <div class="col-md-4">-->
<!--                          &lt;!&ndash; # Creating comments&ndash;&gt;-->
<!--                          <div class="blok_komment">-->
<!--                            {% for el in comments %}-->
<!--                                <h4>User name: {{ el.author_id }}</h4>-->
<!--                                <p>{{ el.text }}</p>-->
<!--                                <p>{{ el.created_at }}</p>-->
<!--                            {% endfor %}-->
<!--                          </div>-->
<!--                          <div class="blok_komment">-->
<!--                            <form method="post" class="border fixed-bottom">-->
<!--                                {% csrf_token %}-->
<!--                                {{ el.as_p }}-->
<!--                              <input type="submit" value="Add comments" class="btn btn-success">-->
<!--                            </form>-->
<!--                          </div>-->
<!--                        </div>-->




<!--&lt;!&ndash;                        <p class="content_border">Потрясающая отмосфера что не хочется<br>&ndash;&gt;-->
<!--&lt;!&ndash;                            уходить! Приветливый персонал и мастера<br>&ndash;&gt;-->
<!--&lt;!&ndash;                            настоящие профессионалы.&ndash;&gt;-->
<!--&lt;!&ndash;                        </p>&ndash;&gt;-->
<!--&lt;!&ndash;                        <p class="content_border_name">&ndash;&gt;-->
<!--&lt;!&ndash;                            Мария&ndash;&gt;-->
<!--&lt;!&ndash;                        </p>&ndash;&gt;-->



<!--&lt;!&ndash;                    <div class="blok_knopka_otz">&ndash;&gt;-->
<!--&lt;!&ndash;                        <a href="" class="knopka_otz">Оставить отзыв</a>&ndash;&gt;-->
<!--&lt;!&ndash;                        <a class="knopka_otz_niz_text">< 14/15 ></a>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->


<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    <div class="footer">
            <div class="fon_footer">
            <div class="container">
                <div class="element">
                    <div class="lev_element">
                        <div class="info_geolocation_nomer">
                            <div class="nomer">
                                <img src="{% static 'sitetatto/img/nomer.png' %}" alt="" class="nom">
                                <p class="text_nomer">+ 7 (963) 863 50 50 </p>
                            </div>
                            <div class="geolocaton">
                                <img src="{% static 'sitetatto/img/geolocaton.png' %}" alt="" class="gel">
                                <p class="text_geolocation">Курган, ул Коли Мяготина, 56 А</p>
                            </div>
                        </div>
                        <div class="vk_telegram_2">
                            <a href="https://vk.com/dionis_art"><img src="{% static 'sitetatto/img/vk.png' %}" alt="" class="vk_2"></a>
                            <a href="https://telegram.org/"><img src="{% static 'sitetatto/img/telegram.png' %}" alt="" class="telegram_2"></a>
                        </div>
                    </div>
                    <div class="prav_element">
                        <p class="prav_text_1">
                            © Все права защищены, “Тату-студия Диониса Пахомова”2022
                        </p>
                        <div class="prav_niz">
                            <a href="" class="knopka_prav_text_3">
                                <p class="prav_text_3">
                                    Запись онлайн
                                </p>
                            </a>
                            <a href="" class="knopka_prav_text_2">
                                <p class="prav_text_2">
                                    Цена онлайн
                                </p>
                            </a>
                        </div>
                        <img src="{% static 'sitetatto/img/vom_plus.png' %}" alt="" class="img_niz">
                    </div>
                </div>
            </div>
        </div>
        </div>
</body>
</html>