@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css');

*{
	font-family: 'Open Sans', 'sans-serif', 'FontAwesome';
}
body{
    background: #141414;
	margin: 0;
	padding: 0;
}

.wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

.er {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register {
    width: 500px; 
    height: 633px;
    background-color: #222222;
    border-radius: 14px;
}

#signin {
    margin-top: 32px;
    margin-left: 97px;
    height: 90px;
    width: 300px;
    border-radius: 8px;
    position: relative;
}

#signin input:first-of-type{
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}
#signin input:last-of-type{
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}
#signin  input[type="text"], #signin  input[type="password"], #signin button[type="submit"]{
	background: rgb(28, 30, 33);
	box-shadow: inset -100px -100px 0 rgb(28, 30, 33); /*Prevent yellow autofill color*/
	color: rgb(52, 56, 61);
}
#signin  input[type="text"], #signin  input[type="password"]{
	position: relative;
    display: block;
    width: 280px;
    height: 45px;
    border: 0;
    outline: 0;
    top: -2px;
    padding: 0 0 0 20px;
    font-weight: 700;
    border-radius: 30px;
	margin-top: 20px;
}
#signin  input[type="text"]:focus, #signin  input[type="password"]:focus{
	color: rgb(255, 255, 255);
}

#signin p {
	color: rgb(79, 85, 97);
	padding: 0 20px;
	font-weight: 700;
	font-size: 12px;
	margin: 5px 0 0 0;
}
#signin p > a{
	color: rgb(255, 255, 255);
	text-decoration: none;
}
#signin p > a:hover{
	border-bottom: 1px solid;
}

.sub {
	margin-top: 20px;
    width: 301px;
    height: 42px;
    border-radius: 16px;
	border: none;
}

.text_sub {
    font-size: 14px;
    margin-top: 11px;
}

.sub:hover .text_sub {
	margin-top: 15px;
}

.sub:hover {
	opacity: 0.8;
}

.h1_glav {
    color: white;
    margin-top: 20px;
    margin-left: 67px;
}

.text_1 {
    color: gray;
    margin-top: 14px;
    margin-left: -5px;
    font-size: 17px;
    text-align: center 
}

.text_2 {
    font-size: 15px;
    text-align: center;
    margin-top: 37px;
}
