@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css');

*{
	font-family: 'Open Sans', 'sans-serif', 'FontAwesome';
}
body{
    background: #141414;
	margin: 0;
	padding: 0;
}

.header {
    width: 100%;
    height: 70px;
    background-color: #222222;
}

.logo {
	width: 100px;
    margin-top: 10px;
    margin-left: 303px;
}

.h1_glav {
    margin-top: 54px;
    margin-left: 1211px;
}

h1{
	color: rgb(255, 255, 255);
	margin: 20px auto 0;
	width: 200px;
	text-align: center;
}
#wrapper{
	position: absolute;
    width: 320px;
    left: 70%;
    margin-left: -175px;
    top: 29%;
    margin-top: -75px;
}

/* === Sign in Form === */
#signin {
	height: 90px;
	width: 300px;
	border-radius: 8px;
	position: relative;
}

#signin input:first-of-type{
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}
#signin input:last-of-type{
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}
#signin  input[type="text"], #signin  input[type="password"], #signin button[type="submit"]{
	background: rgb(28, 30, 33);
	box-shadow: inset -100px -100px 0 rgb(28, 30, 33); /*Prevent yellow autofill color*/
	color: rgb(255, 255, 255);
}
#signin  input[type="text"], #signin  input[type="password"]{
	position: relative;
    display: block;
    width: 280px;
    height: 45px;
    border: 0;
    outline: 0;
    top: -2px;
    padding: 0 0 0 20px;
    font-weight: 700;
    border-radius: 30px;
	margin-top: 20px;
}
#signin  input[type="text"]:focus, #signin  input[type="password"]:focus{
	color: rgb(255, 255, 255);
}

#signin p {
	color: rgb(79, 85, 97);
	padding: 0 20px;
	font-weight: 700;
	font-size: 12px;
	margin: 5px 0 0 0;
}
#signin p > a{
	color: rgb(255, 255, 255);
	text-decoration: none;
}
#signin p > a:hover{
	border-bottom: 1px solid;
}

.sub {
	margin-top: 20px;
    width: 301px;
    height: 42px;
    border-radius: 16px;
	border: none;
}

.text_sub {
    font-size: 14px;
    margin-top: 11px;
}

.sub:hover .text_sub {
	margin-top: 15px;
}

.sub:hover {
	opacity: 0.8;
}



.login {
	width: 346px;
    height: 360px;
    margin-top: -76px;
    margin-left: 1146px;
    background-color: #222222;
    border-radius: 22px;
}

.subb {
	margin-top: 20px;
    width: 301px;
    height: 42px;
    border-radius: 16px;
	background-color: #4bb34b;
	margin-left: 25px;
	border: none;
}

.text_subb {
	font-weight: 600;
    font-size: 14px;
    color: white;
    margin-top: 11px;
}

.subb:hover .text_subb {
	margin-top: 15px;
}

.subb:hover {
	opacity: 0.8;
}

.register {
    width: 346px;
    height: 172px;
    margin-top: 29px;
    margin-left: 1146px;
    background-color: #222222;
    border-radius: 22px;
}

.text_register {
	color: gray;
    padding: 13px;
    margin-top: 5px;
    margin-left: 10px;
    text-align: center;
}



