{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
    <meta charset="UTF-8">
    <title>Регистрация/Авторизация</title>
</head>
<body>
    <div class="header">
		<img src="{% static '/img/logo.png' %}" alt="" class="logo">
    </div>

	<h1 class="h1_glav">Вход</h1>

	<div class="login">
		<div id="wrapper">
			<form id="signin" method="post" action="{% url 'user' %}">
				{% csrf_token %}
<!--				{{ form.as_p }}-->
				{{ form.username }}
				{{ form.password }}
<!--				<input type="text" id="user" name="user" placeholder="Логин" />-->
<!--				<input type="password" id="pass" name="pass" placeholder="Пароль" />-->
				<button class="sub"><p class="text_sub">Войти</p></button>
			</form>
		</div>
	</div>

	<div class="register">
		<button class="subb" onclick="window.open('{% url 'register' %}', '_blank')"><p class="text_subb">Регистрация</p></button>
		<p class="text_register">После регистрации вы получите доступ ко всем возможностям сайта</p>
	</div>

</body>
</html>


