{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'record/css/record.css' %}">
    <title>Запись</title>
</head>
<body>

    <section>
        <img src="{% static '/img/wallpaperflare.com_wallpaper.jpg' %}" alt="" class="fon_1">
        <div class="form-box">
            <div class="form-value">
                <h2>Записаться к мастеру</h2>
                <form id="signin" method="post" action=".">
                    {% if success %}
                        <div class="alert alert-danger">
                            <strong>Спасибо за сообщение!</strong>
                        </div>
                    {% endif %}
                    {% csrf_token %}
                    {{ form.name }}
                    {{ form.nomer }}
                    {{ form.email }}
                    {{ form.date }}
                    {{ form.time  }}
                    <button class="sub"><p class="text_sub">Записаться</p></button>
                </form>
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>